<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--資料庫連接字串-->
  <connectionStrings>
    <add name="database" connectionString="Data Source=(local);Integrated Security=True" />
  </connectionStrings>
</configuration>